*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.top-header{
  height: 100vh;
}

.bg-image {
  position: relative;
  background-image: url("./bgimage.jpg");
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100vh; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header {
  position: absolute;
  background-color: rgb(100, 26, 26); /* Fallback color */
  background-color: rgba(73, 55, 55, 0.6); /* Black w/opacity/see-through */
  color: wheat;
  font-weight: bold;
  border: 3px solid #350404;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 60%;
  padding: 30px;
  text-align: center;
}

.main-header h1{
  font-size: 50px;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 6px;
  
}

.main-header h2{
  /* margin-top: 10px; */
  font-size: 20px;
  /* font-size: 20px; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 6px;
  
}
.main-footer{
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: center;
  /* position: fixed; */
  padding: 10px 10px 10px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: grey;
  margin-bottom: 2px;
}

.bio-wrapper{
  width: 100%;
  height: 100vh;
  /* background-color: blueviolet; */
}

.main-bio{
  background-color: rgb(160, 105, 105);
  overflow:auto;
  width: 100%;
  height: 50vh;
  /* float: left; */
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content:left;
  padding: 10px 0px 0px 0px;
  /* border: 8px solid rgb(68, 44, 44); */
}
.main-bio img{
  position: relative;
  height: 240px;
  width: 240px;
}
 img:hover{
  transform: scale(1.25);
}

.text-bio{
  padding: 0px 0px 0px 55px;
  font-style: normal;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sub-bio{
  overflow:hidden;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color:white;
  height: 40vh;
}
.sub-bio img{
  
  width: 360px;
  height: 360px;
  
}

.sub-bio h1{
  padding: 10px;
}
ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  
  background-color: rgb(160, 105, 105);
  

}
ul li{
  color: black;
  font-weight: 500;
  font-size: medium;
  text-align: center;
  flex: 1px;
  align-items: center;
  background-color: bisque;
  padding: 10px;
  margin: 7px;
  
}

ul li:hover{
  
  transform: scaleX(1.25);
  background-color: rgb(156, 63, 63);
}
